@import url("main.css");

/* First Section */

.greetingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.introContainer {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    min-height: 70vh;
    border-radius: 5px 5px 0 0;
    box-shadow: -1px 1px 3px -1px #000000bf;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas:
        "navContainer navContainer"
        "leftColumn rightColumn";
}

.navContainer {
    display: flex;
    grid-area: navContainer;
    border-bottom: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primaryColor);
}

.leftColumn,
.rightColumn {
    display: grid;
}

.leftColumn {
    grid-area: leftColumn;
}

.rightColumn {
    grid-area: rightColumn;
}

.dotsContainer {
    display: flex;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;

    background-color: black;
    border-radius: 50%;
    border: 2px solid var(--borderColor);

    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.2s ease, border 0.1s ease;

    box-shadow: -1px 1px 3px -1px #000000bf;
}

.dot:hover {
    transform: scale(1.2);
    box-shadow: -2px 2px 3px -1px #0008;
}

.dot:active {
    border-color: var(--accentColor);
}

.dot1 {
    background-color: #eaeaea;
}

.dot2 {
    background-color: #575757;
}

.dot3 {
    background-color: #99eebb;
}

.profilePic {
    align-self: center;
    justify-self: center;
    height: 200px;
    color: var(--strongTextColor);
}

/* InfoContainer the box with 'What I do' in it */

.infoContainer {
    align-self: center;
    justify-self: center;
    height: max-content;
    width: max-content;
    position: relative;
}

.info > h3 {
    margin: 0.5rem 0;
}

.infoContainer::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: var(--infoShadow);
    height: 100%;
    width: 100%;
}

.info {
    border: 1.5px solid var(--accentColor);
    position: relative;
    background-color: var(--infoBg);
    padding: 1rem;
    width: 250px;
}

.info .corner {
    border: inherit;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: block;
    background-color: #fff;
}

.tl {
    position: absolute;
    top: -5px;
    left: -5px;
}
.tr {
    position: absolute;
    top: -5px;
    right: -5px;
}
.bl {
    position: absolute;
    bottom: -5px;
    left: -5px;
}
.br {
    position: absolute;
    bottom: -5px;
    right: -5px;
}

@media screen and (max-width: 700px) {
    .introContainer {
        grid-template-areas:
            "navContainer"
            "leftColumn"
            "rightColumn";
        min-height: 90vh;
        grid-template-rows: 8vh 1fr 1fr;
        grid-template-columns: 1fr;
        padding-bottom: 1rem;
    }
}

/* About Section */
.aboutContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.expertiseList {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: var(--infoShadow);
    margin-bottom: 1rem;
}

.expertiseList ul {
    padding: 0;
}
